body{
    font-family: Roboto;
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 95vh;
    gap:10px;
}

.rock, .paper, .scissor{
    background-color: blueviolet;
    border-style: solid;
    border-width: 20px;
    border-color: black ;
    width: 150px;
    height: 150px; 
    border-radius: 100px;
    color: rgb(249, 192, 5);
    font-size: 30px;  
}